<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LLM Interaction</title>
</head>
<body>
    <h1>LLM Interaction</h1>
    <h2>LLM</h2>
    <p> {{ interaction.llm }} </p>
    <h2>System Prompt</h2>
    <p> {{ interaction.system_prompt }} </p>
    <h2>User Prompt</h2>
    <p> {{ interaction.user_prompt }} </p>
    <h2>Response</h2>
    <p> {{ interaction.response }} </p>
    <h2>Random Seed</h2>
    <p> {{ interaction.random_seed }} </p>
    <h2>Created At</h2>
    <p> {{ interaction.created_at }} </p>
</body>
</html>
